*{
    margin: 0;
    padding: 0;
}

header,nav,footer,aside,section,div{
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    margin: 0px auto;
    max-width: 1000px;
    height: 1000px;
    position:relative;
    
    }   
a{
        text-decoration: none;
        color: black;
}
nav, header, footer{
    width:100%;
}
header {
    height: 192px;
    background-color: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a{
    background-image: url("../images/logo.png");
    display: block;
    background-repeat: no-repeat;
    height: 87px;
    width: 87px;
}
nav {
    background-color: #222222;
}

.navLayout1{
    
    display: flex; 
    height: 62px;
    align-items: center;
}
.navLayout1 ul {
    display: flex;
    margin: 0 auto;
    width: 1000px;
}


.navLayout1 ul li{
    display: block;
    display: flex;
    width: 232px;
    height: 41px;
    left: 160px;
    justify-content: center;
    align-items: center;    
}

nav a {
    display: block;
    color: #ffffff;
    font-family: Lato;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
}
nav :hover{
    color:#176b85;
}
#selected {
    background-color: #309cbd;
}
#wrapper{
    margin: 0 auto;
    width: 1000px;
    /* display: flex; */
}

main{
    display: flex;
    justify-content:space-between;
    height: 700px;
}
#up{
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    width: 335px;
    position: relative;
    right: 30px; 
}
#up > div{
    height: 100px;
    width: 100px;
    background-color: #b94a48;
    margin: 30px 0 0 30px;
}
#down{
    display: flex;
    flex-wrap: wrap;
    align-content:flex-end;
    width: 335px;
    height: 680px;
    position: relative;
    left: 40px; 
}
#down > div{
    height: 100px;
    width: 100px;
    background-color: #b94a48;
    margin: 30px 0 0 30px;
}
#asideLayout1{
    display: flex;
    float: right;
    background: #eeeeee;
    height: 700px;
    width:240px;
}
#asideLayout1 div{
    position: relative;
    top:200px;
    left:75px;
    height: 65px;
    width: 150px;
    background-color: #b94a48;
}
footer{
    height: 50px;
    background: #d6d6d6;
}



.navLayout2{
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 145px;
    height: 1000px;
    float: left;
}
.navLayout2 ul li{
    display: flex;
    align-items: center;
    width: 146px;
    height: 40px;
}
.navLayout2 a{
margin-left: 6px;
margin-top: 6px;
}
.layout2 main {
    width: 260px;
    height: 1000px;
    background-color: #eeeeee;
    position: relative;
    padding: 12px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 235px;
    height: 235px;
    position: relative;
    margin-top: 700px;
}
#container > div{
    height: 100px;
    width: 100px;
    background-color: #468847;
   
}
#asideLayout2{
    right: 100px;
    width: 700px;
    height: 845px;
    display: flex; 
} 

#wrapper2{
    margin: 0 auto;
    width: 1000px;
    display: flex;
}
 /* #asideLayout2{
    position: relative;
    right: 100px;
    width: 594px;
    height: 845px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}   */
#asideLayout2{
    display: flex;
}
#boxContanier1 div, #boxContanier2 div{
    background-color: #468847;


}
#boxContanier1{
    height: 100%;
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 323px 412px;
    grid-gap: 35px; 
    margin-left:24px;
    margin-top: 24px;
}
#boxContanier2{
    height: 100%;
    display: grid;
    grid-template-columns:250px ;
    grid-template-rows: 254px 362px;
    grid-gap: 35px; 
    margin-left:24px;
    margin-top: 24px; 
}


.navLayout3{
    
    display: flex; 
    height: 62px;
    align-items: center;
    justify-content: center;
}
.navLayout3 ul {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    justify-content: center;
}


.navLayout3 ul li{
    display: block;
    display: flex;
    width: clamp(80px,20%,232px);
    height: 62px;
    left: 160px;
    justify-content: center;
    align-items: center;    
}
.boxes{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    
}
.box{
    position: relative;
    width: 332px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.star{
    position:absolute;
    top:8px;
    right:8px;
    background-image: url("../images/starwhite.png");
    background-repeat:no-repeat ;
    height: 40px;
    width: 42px;
}
.plus{
    background-image: url("../images/plus-sign.png");
    background-repeat:no-repeat ;
    height: 64px;
    width: 64px;

}


#footerL2 {
    position: fixed;
    bottom: 0px;
}